trigger:
- main

pool:
  name: Default

variables:
  appName: azure-devops-ci-cd-realworld

stages:
- stage: Build
  displayName: Build Stage
  jobs:
  - job: BuildJob
    steps:
    - script: |
        echo "Building $(appName)"
        ls -R
      displayName: Build

- stage: Test
  displayName: Test Stage
  dependsOn: Build
  jobs:
  - job: TestJob
    steps:
    - script: |
        echo "Testing $(appName)"
        echo "All tests passed"
      displayName: Test

- stage: Deploy_Dev
  displayName: Deploy to Dev
  dependsOn: Test
  jobs:
  - deployment: DevDeploy
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:
          - script: |
              echo "Deploying $(appName) to DEV"
            displayName: Deploy Dev

- stage: Deploy_Prod
  displayName: Deploy to Prod
  dependsOn: Deploy_Dev
  jobs:
  - deployment: ProdDeploy
    environment: prod
    strategy:
      runOnce:
        deploy:
          steps:
          - script: |
              echo "Deploying $(appName) to PROD"
            displayName: Deploy Prod

